<div class="p-4">
    <div class="flex space-x-2">
    
        
        <select [(ngModel)]="filterPriority"  (change)="filterTask()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-max p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option [value]="'ALL'">Tất cả</option>
            <option [value]="'LOW'">Thấp</option>
            <option [value]="'MEDIUM'">Trung bình</option>
            <option [value]="'HIGH'">Cao</option>
        </select>
        
    </div>
    <div *ngIf="filteredTasks.length > 0; else noTasks" class="space-y-4 mt-2">
    
        <ul class="divide-y divide-gray-200">
          <li *ngFor="let task of filteredTasks" class="p-4 mb-2 bg-white rounded-lg shadow-md hover:bg-gray-100">
            <h3 class="text-xl font-semibold text-gray-800">{{ task.title }}</h3>
            <p class="mt-2 text-gray-600">{{ task.description }}</p>
    
           
    
            <!-- Task Priority -->
            <p class="mt-2 text-sm text-gray-500">Độ ưu tiên:
              <span [ngClass]="{
                'text-red-500': task.priority === 'HIGH',
                'text-yellow-500': task.priority === 'MEDIUM',
                'text-green-500': task.priority === 'LOW'
              }">
                <strong *ngIf="task.priority === 'HIGH'">Cao</strong>
                <strong *ngIf="task.priority === 'MEDIUM'">Trung bình</strong>

                <strong *ngIf="task.priority === 'LOW'">Thấp</strong>

              </span>
            </p>
    
            <!-- Task Deadline -->
            <p class="mt-2 text-sm text-gray-500">Deadline:
              <strong>{{ task.deadline | date:'dd/MM/yyyy HH:mm' }}</strong>
            </p>
    
            <!-- Task Collaborator -->
            <!-- <p class="mt-2 text-sm text-gray-500">Collaborator:
              <strong>{{ task.collaborator || 'None' }}</strong>
            </p>
       -->
    
          </li>
        </ul>
      </div>
      <ng-template #noTasks>
        <p class="text-center text-gray-500">Không có nhiệm vụ nào.</p>
      </ng-template>
    
</div>